.form-item__picture {
  width: 600px;
  height: 600px;
}

.form-action__items {
  position: relative;
  top: -670px;
  left: 78%;
}

#preview {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
