.dropdown-toggle::after {
  display: none;
}

.humberger-menu {
  position: absolute;
  top: 145px;
  right: 20px;
  background-color: blanchedalmond;
  z-index: 100;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

.write-icon-link{
  position: absolute;
  top: 145px;
  right: 80px;
  z-index: 100;
  background-color: blanchedalmond;
  padding: 8px;
  border-radius: 10px;
}
