<div class="col-md-3 ">
  <div class="sidebar">
    <div class="sidebar-content" >
      <% @genres.each do |genre| %>
        <p><%= Post.human_attribute_name("genre.#{genre}") %></p>
        <p>
          <a href="#">TOKYO</a>
          <span></span>
          <a href="#">FUKUOKA</a>
          <span></span>
          <a href="#">OTHERS</a>
        </p>
      <% end %>
    </div>
  </div>
</div>
