<h1 class='text-primary'>ブログ一覧</h1>
<div class="row">
  <% @posts.each do |post| %>
  <%# TODO: CSSファイルに書く %>
  <div style='margin-top: 30px; border: double thick ;border-color: #ff6633;'>
    <%= image_tag post.picture, size: '500' %>
    <br/>
    <h5><%= link_to post.title, gourmet_post_path(post) %></h5>
    投稿日: <%= post.created_at.strftime("%Y/%m/%d") %>
    <br/>
    <br/>
  </div>
  <% end %>
</div>
