<div class="card mt-3">
  <div class="row g-0">
    <div class="col-md-8">
      <%= image_tag @post.picture, class: 'w-100 border', height: '600'%>
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <div class="d-flex align-items-start flex-column bd-highlight mb-3" style="height: 550px;">
          <div class="p-2 bd-highlight"><h5 class="card-title"><%= @post[:title] %></h5></div>
          <div class="p-2 bd-highlight"><p class="card-text"><%= @post[:content] %></p></div>
          <div class="mt-auto p-2 bd-highlight"><p class="card-text align-self-end"><small class="text-muted">最終更新:3分前</small></p></div>
        </div>
      </div>
    </div>
  </div>
</div>